@import "~bootstrap/scss/bootstrap";
@import "./Common.scss";

header {
    background-color: #000;
    height: 80px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        nav {
            color: white;
        }
    }
}

main {

    aside {
        max-width: 200px;
        width: 100%;
    }

    .product-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product-item {
        border: 1px solid rgb(226, 220, 220);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 200px;
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
        margin-right: 10px;
        border-radius: 10px;

        .product-image {
            max-width: 100px;
            width: 100%;
        }

        .product-price {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .product-description {
            overflow: scroll;
        }
    }
}
